      
        body {
            margin: 0;
            font-family: system-ui;
            font-size: 0.9em;
            /* background: url(../img/blur-7.jpg); */

        }
        
        .wrapper {
            /* display: flex; */
            /* flex-direction: column; */
            height: 100vh;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        .wrapper:before{
            z-index:-1;
            position:absolute;
            left:0;
            top:0;
            content: url(../img/blur-7.jpg);
            opacity:0.3;
            
        }
        /* HEADER */ /* ---------------------------------------------------- */
        
        header {
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: solid 1px;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: url(../img/blur-7.jpg);
            background-repeat: no-repeat;
            /* background-size: auto;
            background-position: top left;  */
            height: 8vh;
            box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.4);
        }
        
        header h2 {
            color: white
        }
        
        a {
            color: white
        }
        
        a.button {
            background: rgba(0, 0, 0, 0.1);
            padding: 1em;
            border-radius: 4px;
        }
        
        header a.button:hover {
            background: rgba(0, 0, 0, 0.5);
        }
        
        /* CONTENT */ /* -------------------------------------------------- */

        .container {
            /* display: flex; */
            /* flex-direction: column; */
            /* align-items: center; */
            /* justify-content: center; */
            height: 78vh;
            overflow: scroll;
            /* overflow-x: hidden; */
            /* align-items: stretch; */

        }

        .band {
            width: 90%;
            height: 50vh;
            max-width: 1500px;
            margin: 0 auto;
            margin-top: 3vh;
            /* margin-bottom: 5vh; */
            
            display: grid;
            
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 20px;

        }
          
          .card {
            background: white;
            text-decoration: none;
            color: #444;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            height: 70vh;
            margin-bottom: 5vh;
            /* border: rgba(100, 100, 100, 0.3) solid 1px; */
            border-radius: 0.5vh;
            
            /* sets up hover state */

            position: relative;
            top: 0;
            transition: all 0.2s ease-in-out;
           }

            .card:hover {
              top: -5px;
              box-shadow: 0 6px 30px rgba(0,0,0,0.3);
            }
            
            article {
              padding: 20px;
              flex: 1;
              
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            
            h1 {
              font-size: 20px;
              margin: 0;
              margin-bottom: 0.8em;
              color: #333;
            }
            
            p {
              flex: 1;
              line-height: 1.4;
            }
            
            span {
              font-size: 12px;
              font-weight: bold;
              color: #999;
              text-transform: uppercase;
              letter-spacing: .05em;
              margin: 2em 0 0 0;
            }
            
            .thumb {
              /* padding-bottom: 60%; */
              background-size: cover;
              background-position: center center;
              height: 100%;
              border-top-left-radius: 0.5vh;
              border-top-right-radius: 0.5vh;
            }



        /* .item {
            display: grid;
            align-items: center; 
            justify-content: space-between;
            padding: 1em;
            border: solid 1px;
            background: rgba(0, 0, 0, 0.1);
            margin: 0.5em;
            border-radius: 0.5em;
            float: left;
            width: 30%;

        }

        .item-r {
            display: grid;
            align-items: center; 
            justify-content: space-between;
            padding: 1em;
            border: solid 1px;
            background: rgba(0, 0, 0, 0.1);
            margin: 0.5em;
            border-radius: 0.5em;
            float: right;
            width: 30%;

        } */
        
        /* RESPONSIVE */ /* -------------------------------------------------- */

        @media screen and (min-width: 30em) {
            .band {
                grid-template-columns: 1fr 1fr;
            }
            .item-XXL {
                grid-column: 1 / span 4;
                ;
              }
        }

        @media screen and (max-width: 30em) {
            h2{
                display: none;
            }
        }
        
        @media screen and (min-width: 60em) {
            .band {
                grid-template-columns: repeat(4, 1fr);
            }

        }

        @media screen and (min-width: 60em) {
            .item-1 {
                grid-column: 1 / span 2;
              }
              .item-XL {
                grid-column: 1 / span 3;
              }
              .item-XXL {
                grid-column: 1 / span 4;
                ;
              }
        }
        @media screen and (max-height: 850px) {
            .nav-txt{
                display: none;
            }
            .nav a{
                padding-bottom: 0;            
            }
            h1{
                font-size: 1em;
                margin-bottom: 25px;
            }
            p{
                font-size: 0.8em;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .card{
                height: 68vh;
            }
        }
        @media screen and (max-height: 500px) {
            .nav-txt{
                display: none;
            }
            .nav a{
                padding-bottom: 0;            
            }
            h1{
                font-size: 1em;
                margin-bottom: 0px;
            }
            .card p{
                display: none;
            }
            .card{
                height: 65vh;
            }
        }

        /* NAVI */ /* -------------------------------------------------- */

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            right: 0px;
            left: 0px;
            height: 12vh;
            box-shadow: -10px 0px 100px rgba(0, 0, 0, 1);
            background-image: url(../img/blur-7.jpg);
        }
        
        nav a {
            flex: 1;
            text-align: center;
            padding: 1vh;
            /* border: solid 1px #1a181f; */
            /* border-bottom: 1vh solid transparent; */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1));
            color: white;
            height: 9vh;
            padding-top: 3vh;
        }
        
        #current {
            background-color:rgba(0, 0, 0, 0.5);
            border-bottom: 1vh solid rgba(0, 0, 0, 0.5);
            /* border-top: 0.5em solid rgba(0, 0, 0, 0.5); */
            height: 8vh;
        }

        #currentSet {
            /* background-color: #444; */
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            /* border-top: 0.5em solid rgba(0, 0, 0, 0.5); */
        }
        
        nav a:hover {
            border-bottom: 1vh solid rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.4);
            /* bottom: 1em; */
            height: 8vh;

        }
        
        nav i {
            /* display: block; */
            font-size: 2em;
            padding-top: 0.5em;
            padding-bottom: 1em;
            color: white;
            width: 100%;
        }

        /* CONTENT FLOAT */ /* -------------------------------------------------- */

        
        .txt-right {
            text-align: right;
        }

        .img-right {
            float: right;
            /* width: 40vw;
            max-width: 400px;
            padding: 1em; */
        }




